[
    {
        "scope": "https://oauth2.googleapis.com:443",
        "method": "POST",
        "path": "/token",
        "body": "refresh_token=1%2F%2F0fSRmN81hi2hgCgYIARAAGA8SNwF-L9IrsRHMKClkKcTOe4kYW7WR0UFI3VmZaH8qgACE0IaBLpe7ZktMpMOE-fSs6t3WbOIjAcQ&client_id=749522153528-52g5t6ai71qvpq6mmi603uffq4ajso3h.apps.googleusercontent.com&client_secret=V28IbVJjRp-dGU0WzewH7e8M&grant_type=refresh_token",
        "status": 401,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "0000000002ffabe65250504a2d2aca2f52b252502acd4b2c2dc9c82fcaac4a4d894fcec94ccd2b51d281ab884f492d4e2eca2c28c9cccf03a90e4552adc4550b000d2a202b4b000000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "X-Origin",
            "gzip",
            "Mon, 06 Jul 2020 21:11:48 GMT",
            "scaffolding on HTTPServer2",
            "private",
            "0",
            "SAMEORIGIN",
            "nosniff",
            "h3-29=\":443\"; ma=2592000,h3-27=\":443\"; ma=2592000,h3-25=\":443\"; ma=2592000,h3-T050=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    }
]