[
    {
        "scope": "https://oauth2.googleapis.com:443",
        "method": "POST",
        "path": "/token",
        "body": "code=invalidToken&client_id=749522153528-52g5t6ai71qvpq6mmi603uffq4ajso3h.apps.googleusercontent.com&client_secret=V28IbVJjRp-dGU0WzewH7e8M&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&grant_type=authorization_code&code_verifier=",
        "status": 400,
        "response": [
            "1f",
            "8b",
            "08",
            "00",
            "00",
            "00",
            "00",
            "00",
            "02",
            "ff",
            "ab",
            "e6",
            "52",
            "50",
            "50",
            "4a",
            "2d2aca2f52b25250cacc2b4bccc94c894f2f4acc2b51d281cbc5a7a416271765169464e6e781d4f926e6a4e517e5a6a628249696642824e7a7a4ea2971d502005ac1275a4d000000"
        ],
        "rawHeaders": [
            "Content-Type",
            "application/json; charset=utf-8",
            "X-Origin",
            "gzip",
            "Mon, 06 Jul 2020 21:08:39 GMT",
            "scaffolding on HTTPServer2",
            "private",
            "0",
            "SAMEORIGIN",
            "nosniff",
            "h3-29=\":443\"; ma=2592000,h3-27=\":443\"; ma=2592000,h3-25=\":443\"; ma=2592000,h3-T050=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\"",
            "close",
            "chunked"
        ],
        "responseIsBinary": false
    }
]